body {
  font-family: Arial;
}

.header {
  background-color: #93b4cf;
  text-align: center;
  padding: 10px;

}

.chessboard {
  background-image: url('images/image1.png');
  background-color: #eda6ed;
  margin: auto;
  width: 500px;
  height:400px;
  font-size: 0px;

    
}

.row {
  margin: auto;
  width: 80%;
  height: 12.5%;
}

.black {
  background-color: #000000;
  width: 12.5%;
  height: 100%;
  display: inline-block;
}

.white {
  background-color: #ffffff;
  width: 12.5%;
  height: 100%;
  display: inline-block;
}

footer {
  padding: 10px;
  background-color: #93b4cf;
  margin-top: 20px;
}

.validatorLink {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
