body {
    background-color:rgb(212, 212, 212);
}

.subpageH1 {
    text-decoration: underline;
    text-align: center;
}
.subpageH2 {
    text-align: center;
}

.homeDiv {
    text-align: center;
}

.courseDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.courseSubDiv {
    font-size: 30px;
    text-align: center;
    width: 40%;
}

.artifactDiv {
    display: flex;
    flex-direction: row;     
    justify-content: center;
    align-items: start;
    gap: 1%
}

.artifactImage {
    max-width: 100%;
    max-height: 100%;
}

.colorDiv {
    width: 19%;
    font-size: 24px;
    text-align: center;
}
.validDiv {
    padding: 10px;
    background-color: #8eb8fa;
    width: 100%;
    min-height: 500px;
    text-align: center;
    font-size: large;
}
.validGen {
    display:table-cell;
    margin: auto;
    padding: 10px;
    width: 45%;
}
.validHTML {
    background-color: #fcf4c2;
}
.validCSS {
    background-color: #f4c2fc;
}
.validIMG {
    max-width: 80%;
}

.contentLink {
    color:rgb(12, 0, 184);
    text-decoration: none;
    font-size: 32px;
}

.contentLink:hover {
    color: rgb(130, 178, 255);
}